body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app {
    background: white;
    color: #333;
    width: 350px;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
    color: #667eea;
    font-size: 35px;
}

input {
    width: 70%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #667eea;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #5563c1;
}

li {
    list-style: none;
    background: #f1f1f1;
    color: #333;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
}
